* {
  margin: 0;
  padding: 0;
}
:root {
  --main-font: 'Roboto';
  --accent-color: '#2196f3';
  --text-style: 'normal';
}
body {
  font-style: var(--text-style);
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

/* cursor: pointer; */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
.address {
  font-style: normal;
}
/*==========Стили для Головы===========*/
.navigation-form {
  /* display: flex; */
  position: absolute;
  width: 294px;
  height: 32px;
  left: 453px;
  top: 32px;
}
.navigation-link {
  font-style: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #000000;
}
.navigation-list {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.navigation-item {
  margin-right: 50px;
}

.navigation-link:hover,
.navigation-link:focus {
  color: #2196f3;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.mail-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  margin-right: 50px;
}

.mail-link:hover,
.mail-link:focus {
  color: #2196f3;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}
.tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.tel-link:hover,
.tel-link:focus {
  color: #2196f3;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}
.kontakt-line {
  margin-left: 1078px;
  margin-right: 215px;
  margin-top: 32px;
  margin-bottom: 32px;
}
/*=======LOGO=========*/
.logo {
  position: absolute;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
}
.logo-first {
  color: #2196f3;
}
.logo-futer {
  color: white;
}
.header-logo {
  margin-right: 93px;
  margin-top: 24px;
  margin-left: 215px;
}

/*========= MAIN============*/

/*========== HERO HEDER =======*/
.font-hero-header {
  background-color: #2f303a;
  position: absolute;
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;
}
/*Эфективные рещения для вашего бизнеса*/
.text-hero-header {
  position: absolute;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  height: 120px;
  width: 696px;
  left: 452px;
  top: 200px;
}
/*button*/
.main-btn {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 350px;
  background: #2196f3;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.main-btn:hover,
.main-btn:focus {
  box-shadow: 0px 4px 4px rgba(252, 252, 252, 1);
  color: black;
}

/* === MAIN ====

==== HERO HEADER =====*/
/*=====SECOND SECTION ОСОБЕННОСТИ======*/
.features-link {
  display: flex;
}
.features-link:last-child {
  margin-right: 0px;
}
.features {
  position: absolute;
  width: 1170px;
  height: 101px;
  left: 215px;
  top: 774px;
}
.features-box {
  width: 270px;
  height: 101px;
  box-sizing: border-box;
  margin-right: 30px;
}
.features-titel {
  margin-bottom: 10px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #212121;
}
.features-text {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

/*=====THREE SECTION чем занимаемся ======*/
.doing-img {
  display: flex;
}
.doing-link {
  margin-right: 30px;
}
.doing-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
  text-align: center;
}
.doing {
  position: absolute;
  width: 1170px;
  height: 386px;
  left: 215px;
  top: 969px;
}

/*=======FOR SECTION команда====*/
.team {
  position: absolute;
  width: 1600px;
  height: 648px;
  left: 0px;
  top: 1449px;
  background-color: rgba(245, 244, 250, 1);
}
.team-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 94px;
}
.team-link {
  display: flex;
  width: 1170px;
  height: 368px;
}
.card {
  width: 270px;
  height: 368px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: #212121;
  cursor: pointer;
  margin-right: 30px;
}
.team-link:first-child {
  margin-left: 215px;
}
.team-link:last-child {
  margin-right: 0;
}
.team-img {
  margin-bottom: 30px;
}
.card-name {
  margin-bottom: 10px;
}
.card-profetion {
  font-weight: normal;
  color: #757575;
}
/*======= FOOTER========*/
.basement {
  position: absolute;
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 2097px;
  background-color: #2f303a;
  text-decoration: none;
  list-style: none;
}
.futer-logo {
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 60px;
}
.future-link {
  width: 231px;
  height: 81px;
  margin-top: 111px;
  margin-left: 215px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
}
.future-link {
  color: #ffffff;
  font-style: normal;
  margin-bottom: 9px;
  box-sizing: border-box;
}
.future-mail {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;
}
.future-tel {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}
